---
Checks: >
  bugprone-*,
  cert-*,
  clang-analyzer-*,
  clang-diagnostic-*,
  concurrency-*,
  cppcoreguidelines-*,
  modernize-*,
  performance-*,
  readability-*
HeaderFilterRegex: '(include/|src/|testMDJ/)'
CheckOptions:
    readability-identifier-naming.ClassCase:           CamelCase
    readability-identifier-naming.StructCase:          CamelCase
    readability-identifier-naming.EnumCase:            CamelCase
    readability-identifier-naming.EnumConstantCase:    UPPER_CASE
    readability-identifier-naming.FunctionCase:        camelBack
    readability-identifier-naming.GlobalFunctionCase:  camelBack
    readability-identifier-naming.VariableCase:        camelBack
    readability-identifier-naming.GlobalVariableCase:  camelBack
    readability-identifier-naming.ParameterCase:       camelBack
    readability-identifier-naming.NamespaceCase:       lower_case
    readability-identifier-naming.ConstexprVariableCase: UPPER_CASE
    readability-identifier-naming.GlobalConstantCase:    UPPER_CASE
...

