on:
  push:
    branches:
      - main

jobs:
  build-nix:
    name: Auto Nix Build
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Nix
        uses: cachix/install-nix-action@v27
        with:
          nix_path: nixpkgs=channel:nixos-unstable

      # - name: Config Cachix TODO
      #   uses: cachix/cachix-action@v15
      #   with:
      #     name: devenv

      - name: Build project with Nix
        run: |
          nix build --print-build-logs --jobs $(nproc)

      - name: Check build outputs
        run: |
          ls -lh result/bin/

      # - name: Upload artefact TODO
      #   uses: actions/upload-artifact@v4
      #   with:
      #     name: smart-piano-engine
      #     path: result/bin/engine
      #     retention-days: 30
