on:
  push:
    branches: [main]

jobs:
  build-nix:
    name: Nix Build & Cache
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - uses: actions/checkout@v4

      - name: Install Nix
        uses: cachix/install-nix-action@v30
        with:
          nix_path: nixpkgs=channel:nixos-unstable

      - name: Config Cachix
        uses: cachix/cachix-action@v15
        with:
          name: projet-isie
          authToken: '${{ secrets.CACHIX }}'

      - name: Build project with Nix
        run: |
          nix build --print-build-logs # TODO Cross build too

      - name: Check build outputs
        run: |
          ls -lh result/bin/
