on:
  pull_request:
    branches:
      - main

jobs:
  test-coverage:
    name: Tests & Code Coverage
    runs-on: ubuntu-latest
    permissions:
      contents: read

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Nix
        uses: cachix/install-nix-action@v27
        with:
          nix_path: nixpkgs=channel:nixos-unstable

      # - name: Config Cachix TODO
      #   uses: cachix/cachix-action@v15
      #   with:
      #     name: devenv

      - name: Configure & build project
        run: |
          nix develop --command bash -c "cmake --build build -j$(nproc)"

      - name: Run tests
        run: |
          nix develop --command bash -c "cmake --build build --target tests"

      - name: Measure code coverage
        run: |
          nix develop --command bash -c "cmake --build build --target coverage"

      - name: Export coverage report totals as text 
        run: |
          nix develop --command bash -c "llvm-cov report build/src/main -instr-profile=build/coverage.profdata -ignore-filename-regex='test/.*' | grep TOTAL > build/coverage.txt && cat build/coverage.txt"

      - name: Verify functions coverage is 100%
        run: |
          nix develop --command bash -c "cat build/coverage.txt | awk '{gsub(/%/, \"\", \$7); if (\$7 == 100) { exit 0 } else { exit 1 }}'"

      - name: Verify line coverage is at least 90%
        run: |
          nix develop --command bash -c "cat build/coverage.txt | awk '{gsub(/%/, \"\", \$10); if (\$10 >= 90) { exit 0 } else { exit 1 }}'"
